:root {
    /* TEXT VARIABLES */
    --font: "Luckiest Guy", serif;
    --text-light: #80c423;

    /* COLOR VARIABLES */
    --bg-gradient: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
    --bg-light: #7a7adb;
}

html, body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    /* background-color: #421869; */
    /* background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); */
    background-color: var(--bg-light);
    background-image: var(--bg-gradient);
    /* overflow-y: scroll; */
    overflow: auto;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    font-size: 5rem;
    font-family: var(--font);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

input {
    margin-top: 3.5rem;
    /* font-size: 5rem; */
    /* border-radius: 5px; */
}

input::placeholder {
    color: gray !important;
}

input:focus::placeholder {
    color: transparent !important;
}

.results {
    overflow-y: scroll;
}

.dropdown-content {
    width: 120%; /*To be adjusted?*/
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item img {
    height: 10rem;
    margin-right: 1rem;
}

.media {
    width: 80%;
    margin: auto;
}

.movie-icon {
    margin-top: 12.5rem;
    font-size: 10rem;
}